
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Outfit',sans-serif;
    width: 100%;
    height: auto;
}

/* .main{
    
} */
.starting_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.starting_menu img{
    height: 2rem;
}