
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Outfit',sans-serif;
    background-color: #1a2a33;
    font-weight: 700;
}
button{
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57rem;
    transition-duration: 0.5s; 
}

.starting_menu{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    text-align: center;
}
.starting_menu img{
    height: 2rem;
}

.player_pick{
    background-color: #1f3641;
    border-radius: 1rem;
    padding: 24px 0px;
    text-align: center;
    width: 100%;
    margin: 40px 0px 40px 0px;
    box-shadow: 0px 8px #111c22;
    .pick_heading{
        color: #a8bfc9;
    }
    .remember{
        color: #546c76;
        font-size: 14px;
    }
    p{
        margin: 0;
    }
}

.pick_background{
    background-color: #1a2a33;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px 1rem 24px 1rem;
    color: #a8bfc9;
    i{
        padding: 0.5rem 5rem 0.5rem 5rem;
        border-radius: 1rem;
        cursor: pointer;
        font-size: 3.5rem;
        transition-duration: 0.5s; 
    }
}

.active{  
    color: #1a2a33;
    background-color: #a8bfc9;  
}

.starting_button{
    display: flex;
    flex-direction: column;
    width: 100%;
    .vs_player{
        background-color: #31c3bd;
        box-shadow: 0px 8px #1d716e;
    }
    .vs_player:hover{
        background-color: #65e9e4;
    }
}

.starting_button button{
    padding: 20px 90px;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
}
.win_lost_background{
    display: none;
    position: absolute;
    height: 101.6%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    animation: fadeIn 0.4s ease-in-out;
}

.win_lose{
    display: none;
    position: absolute;
    width: 100%;
    background-color: #1f3641;
    text-align: center;
    color: #a8bfc9;
    animation: fadeIn 0.4s ease-in-out;
    padding-top: 4rem;
    padding-bottom: 4rem;
    p{
        margin: 0;
    }
}
.whowin{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
    img{
        height: 4rem;
    }
    p{
        color: #f2b137;
        font-size: 3rem;
        margin: 0;
    }
}
.quit{
    background-color: #a8bfc9;
    box-shadow: 0px 5px #6991a2;
    font-size: 1.2rem;
    border-radius: 10px;
    color:#1a2a33;
    padding: 1rem;
    margin-right: 1rem;
}
.quit:hover{
    background-color: #dbe8ed;
}
.nextRound{
    background-color: #f2b137;
    box-shadow: 0px 5px #b77c0c;
    font-size: 1.1rem;
    border-radius: 10px;
    color:#1a2a33;
    padding: 1rem;
}
.nextRound:hover{
    background-color: #ffc860;
}



.playing{
    display: none;
}

.header{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 8.75rem 8.75rem 8.75rem;;
    grid-template-rows: 3.75rem 8.5rem 8.5rem 8.5rem 4.625rem;
    gap: 1.3rem;
    img{
        height: 2rem;
        justify-self: center;
        align-self: center;
    }
}

.turn{
    grid-area: 1 / 2 / 2 / 3;
    background-color: #1f3641;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    color: #a8bfc9;
    box-shadow: 0px 4px #111c22;
}

.restart{
    grid-row: 1/2;
    grid-column: 3/4;
    width: 4.5rem;
    height: 90%;
    border-radius: 10px;
    background-color: #a8bfc9;
    box-shadow: 0px 4px #6991a2;
    justify-self: flex-end;
    align-self: center;
    i{
        color: #1f3641;
    }
}

.playing_button{
    height: 100%;
    width: 100%;
    background-color: #1f3641;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px #111c22;
    img{
        height: 5rem;
        display: none;
    }
}

.x_box,.ties,.o_box{
    text-align: center;
    color: #1a2a33;
    border-radius: 14px;
    .scoreTitle{
        margin-bottom: 0;
        font-weight: 500;
    }
    .score{
        margin: 0;
        font-size: 1.4rem;
    }
}
.x_box{
    background-color:#31c3bd;
}
.ties{
    background-color:#a8bfc9;
}
.o_box{
    background-color:#f2b137;
}